h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.subtitle {
  padding-bottom: 3em;
}

p {
  padding-bottom: 1.4em;
  line-height: 2em;
}

.light {
  font-weight: 100;
}

.strong {
  font-weight: bold !important;
}

strong {
  font-weight: bold !important;
}

.justify {
  text-align: justify;
}

ul {
  list-style: disc;

  li {
    line-height: 2.3em;
    margin-left: 15px;
  }
}

// CENTER CONTAINER
.center {
  max-width: 1362px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  position: relative;

  padding-left: $mobile-padding-center;
  padding-right: $mobile-padding-center;
}

@media (max-width: 640px) {
  .center {
    padding-left: $mobile-padding-center/2;
    padding-right: $mobile-padding-center/2;
  }
}

// BLACK INTRO BLOCK
// CONTACT BLOCK
.page-content {
  position: relative;
  display: block;
  overflow: hidden;

  .block-black {
    background-color: #000;
    height: 38em;
    width: 100%;
    position: absolute;
  }

  .block-contact {
    background: url("../images/2600x700_01.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
    max-height: 525px;
    background-size: cover;
    margin-bottom: 9.5em;
    overflow: hidden;
    position: relative;

    .white-block {
      background-color: #fff;
      max-width: 900px;
      max-height: 210px;
      margin: 10em 0;
      padding: 4.5em 4em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .link {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
        color: #000;

        transition: transform 0.25s linear;

        .arrow {
          padding-left: 25px;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .page-content {
    .block-contact {
      min-height: 25em;
      max-height: 100%;
      display: grid;
      overflow: initial;
      margin-bottom: 18em;

      .white-block {
        position: absolute;
        margin: 0;
        bottom: -9em;
        border-bottom: 2px solid #f1f1f1;

        & * {
          transition: all 0.5s linear;
        }

        &::before {
          content: "";
          width: 100vw;
          position: absolute;
          height: 100%;
          left: 100%;
          background-color: #fff;
        }
      }
    }
  }
}

#body-wrapper+#wpadminbar {
  margin: 0;
}