@import "./variables";
@import "./reset";
@import "./fonts";
@import "./shared";

html,
body {
  width: 100%;
  height: 100%;
  font-family: "ProximaNova";
  font-size: 1em;
}

body {
  background-color: $background-base-color;
}
/** 
 * Images a now responsive
 */
img {
  max-width: 100%;
  height: auto;
}

// Resize font size tablet
@media (max-width: 1230px) {
  html,
  body {
    font-size: 0.9em !important;
  }
}

@import "./header.scss";
@import "./footer.scss";

@import "./front_page/index";
@import "./contact_page/index";
@import "./architecte/index";
@import "./about_page/index";
