@import "./reset";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ececec;
}



/* Test configuration css front-page suite ACF par Augustin */
.dispo_imgs {
  display: flex;
  flex-direction: row;
}

.image {
  width: 50%;
}