html,
body {
  font-size: 1em; }

.section_bandeau {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .section_bandeau .bandeau_col-g,
  .section_bandeau .bandeau_col-d {
    max-width: 50%;
    /* Pour animation Js */ }
    .section_bandeau .bandeau_col-g .bandeau_img,
    .section_bandeau .bandeau_col-d .bandeau_img {
      width: 100%; }
    .section_bandeau .bandeau_col-g .bandeau_white-container,
    .section_bandeau .bandeau_col-d .bandeau_white-container {
      display: flex;
      align-items: center;
      width: 80%;
      height: 16vh;
      background-color: #FFFFFF;
      color: #000000;
      box-shadow: 1px 3px 5px 1px #e4dfdff1;
      position: relative;
      left: 11.3%;
      top: -8vh;
      padding: 0px 7%; }
      .section_bandeau .bandeau_col-g .bandeau_white-container h1,
      .section_bandeau .bandeau_col-d .bandeau_white-container h1 {
        opacity: 0.8;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        font-size: 24px;
        font-family: "proxima-nova";
        padding-top: 66px;
        padding-bottom: 66px; }
    .section_bandeau .bandeau_col-g .bandeau_black-container,
    .section_bandeau .bandeau_col-d .bandeau_black-container {
      display: flex;
      align-items: center;
      width: 80%;
      height: 16vh;
      background-color: #000000;
      color: #FFFFFF;
      position: relative;
      left: 8.3%;
      top: -8vh;
      padding: 0px 7%;
      margin-bottom: 19.8vh; }
      .section_bandeau .bandeau_col-g .bandeau_black-container h1,
      .section_bandeau .bandeau_col-d .bandeau_black-container h1 {
        opacity: 1;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        font-size: 24px;
        font-family: "proxima-nova";
        padding-top: 66px;
        padding-bottom: 66px; }
    .section_bandeau .bandeau_col-g .bandeau_white-container-hover,
    .section_bandeau .bandeau_col-d .bandeau_white-container-hover {
      background-color: #FFFFFF;
      box-shadow: 1px 3px 5px 1px #e4dfdff1;
      color: #000000;
      width: 70%;
      min-height: 0%;
      position: relative;
      left: 22%;
      top: -18%;
      display: none;
      justify-content: center;
      flex-direction: column;
      padding-top: 50px;
      padding-left: 7%;
      padding-right: 7%;
      margin-top: 0px;
      margin-bottom: 0px; }
      .section_bandeau .bandeau_col-g .bandeau_white-container-hover h3,
      .section_bandeau .bandeau_col-d .bandeau_white-container-hover h3 {
        opacity: 0.8;
        font-size: 24px;
        font-family: "proxima-nova";
        margin-bottom: 30px;
        letter-spacing: 0.3px;
        word-spacing: 0.5px; }
      .section_bandeau .bandeau_col-g .bandeau_white-container-hover p,
      .section_bandeau .bandeau_col-d .bandeau_white-container-hover p {
        opacity: 0.7;
        font-size: 16px;
        font-family: "proxima-nova";
        letter-spacing: 0.3px;
        line-height: 2; }
    .section_bandeau .bandeau_col-g .bandeau_black-container-hover,
    .section_bandeau .bandeau_col-d .bandeau_black-container-hover {
      background-color: #000000;
      color: #FFFFFF;
      width: 70%;
      min-height: 0%;
      position: relative;
      left: 8.3%;
      top: -18%;
      display: none;
      justify-content: center;
      flex-direction: column;
      padding-top: 50px;
      padding-left: 7%;
      padding-right: 7%;
      margin-top: 0px;
      margin-bottom: 0px; }
      .section_bandeau .bandeau_col-g .bandeau_black-container-hover h3,
      .section_bandeau .bandeau_col-d .bandeau_black-container-hover h3 {
        opacity: 1;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        font-size: 24px;
        font-family: "proxima-nova";
        margin-bottom: 30px; }
      .section_bandeau .bandeau_col-g .bandeau_black-container-hover p,
      .section_bandeau .bandeau_col-d .bandeau_black-container-hover p {
        opacity: 1;
        font-size: 16px;
        font-family: "proxima-nova";
        letter-spacing: 0.3px;
        line-height: 2; }

.dispo_lien {
  display: flex;
  flex-direction: row;
  opacity: 1;
  margin-top: 15px; }
  .dispo_lien p {
    font-size: 18px;
    font-family: "proxima-nova", serif;
    font-weight: bold;
    color: black; }
  .dispo_lien .icon-container {
    margin-left: 25px; }

.dispo_lien_white {
  display: flex;
  flex-direction: row; }
  .dispo_lien_white p {
    color: white;
    text-decoration-color: white; }

/* INTRODUCTION_FRONT PAGE */
.section_introduction {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .section_introduction .introduction_col-g,
  .section_introduction .introduction_col-d {
    max-width: 50%; }

.introduction_black-container {
  margin-top: 7.2vh;
  margin-bottom: 65px;
  display: flex;
  align-content: center;
  padding: 120px;
  width: 87%;
  min-height: 0%;
  background-color: #000000;
  color: #FFFFFF; }
  .introduction_black-container li {
    font-family: "proxima-nova";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    line-height: 1.5; }

.introduction_white-container {
  margin-left: 120px;
  width: 70%; }
  .introduction_white-container h3 {
    font-family: "proxima-nova";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    line-height: 1.1;
    margin-bottom: 30px; }
  .introduction_white-container p {
    font-family: "proxima-nova";
    font-size: 16px;
    letter-spacing: 0.3px;
    word-spacing: 0.5px;
    line-height: 2;
    font-weight: 0.6; }

.introduction_img {
  width: 63.4%;
  height: auto;
  margin-left: 8.3%; }

.section_centre {
  width: 100%; }
  .section_centre .centre_grey-container {
    width: 43.5%;
    height: 61vh;
    background-color: #f6f6f6;
    z-index: 0; }
    .section_centre .centre_grey-container .centre_white-container {
      padding-top: 30.5vh;
      margin-left: 61%;
      width: 100%;
      z-index: 1; }

.section_inferieur {
  max-width: 100%;
  display: flex;
  flex-direction: row; }

.inferieur_col-g {
  max-width: 50%; }
  .inferieur_col-g .inferieur_img {
    max-width: 100%;
    height: 547px; }

.inferieur_col-d {
  max-width: 50%; }

/***
* ProximaNova
**/
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: bolder;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Extrabold.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Light.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-LightItalic.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Regular.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-RegularItalic.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-SemiboldItalic.otf) format("truetype"); }

/***
  * ProximaNovaCond
  **/
@font-face {
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-Semibold.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-SemiboldIt.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-Regular.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-RegularIt.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-Light.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-LightIt.otf) format("truetype"); }
