/* INTRODUCTION_FRONT PAGE */
.section_information {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .section_information .information_col-g,
  .section_information .information_col-d {
    max-width: 50%; }

.information_black-container {
  margin-top: 7.2vh;
  margin-bottom: 7.5vh;
  display: flex;
  align-content: center;
  padding: 50px;
  width: 87%;
  min-height: 0%;
  background-color: #000000;
  color: #FFFFFF; }
  .information_black-container p {
    font-size: 20px; }

.information_white-container {
  margin-left: 29%;
  width: 58%; }

.introduction_img {
  width: 63.4%;
  height: 75vh;
  margin-left: 8.3%; }
