html,
body {
  font-size: 1em;
}


.section_bandeau {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 320px;


  .bandeau_col-g,
  .bandeau_col-d {
    max-width: 50%;
    flex-basis: 50%;

    .bandeau_img {
      width: 100%;
      height: 100%;
      background-size: cover !important;
    }

    .bandeau_white-container {
      display: flex;
      align-items: center;
      width: 80%;
      height: 16vh;
      background-color: #ffffff;
      color: #000000;
      box-shadow: 1px 3px 5px 1px #e4dfdff1;
      position: relative;
      left: 4%;
      top: -8vh;
      padding: 0px 7%;
      margin-bottom: 320px;

      h1 {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        padding-top: 66px;
        padding-bottom: 66px;
      }
    }

    .bandeau_black-container {
      display: flex;
      align-items: center;
      width: 80%;
      height: 16vh;
      background-color: #000000;
      color: #ffffff;
      position: relative;
      left: 16%;
      top: -8vh;
      padding: 0px 7%;

      h1 {
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        padding-top: 66px;
        padding-bottom: 66px;
      }
    }

    /* Pour animation Js */
    .bandeau_white-container-hover {
      background-color: #ffffff;
      box-shadow: 1px 3px 5px 1px #e4dfdff1;
      color: #000000;
      width: 80%;
      min-height: 0%;
      position: relative;
      left: 4%;
      top: -18%;
      display: none;
      justify-content: center;
      flex-direction: column;
      padding-top: 50px;
      padding-left: 7%;
      padding-right: 7%;
      margin-bottom: 260px;



      h3 {
        opacity: 0.8;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
      }

      p {
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 1.8;
      }
    }

    .bandeau_black-container-hover {
      background-color: #000000;
      color: #ffffff;
      width: 80%;
      min-height: 0%;
      position: relative;
      left: 16%;
      top: -18%;
      display: none;
      justify-content: center;
      flex-direction: column;
      padding-top: 50px;
      padding-left: 7%;
      padding-right: 7%;

      h3 {
        opacity: 1;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 30px;
      }

      p {
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 1.8;
      }
    }
  }
}

.dispo_lien {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  &:link,
  &:visited {
    text-decoration-color: #000;
    color: #000;

  }

  p {
    font-size: 18px;
    font-weight: 700;
    color: #000;
  }

  .icon-container {
    margin-left: 25px;
    margin-top: 7px;
  }
}

.dispo_lien_white {
  display: flex;
  flex-direction: row;

  p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration-color: white;
  }

  &:link,
  &:visited {
    text-decoration-color: white;

  }

}

.icon-container-white {
  width: 45px;
  height: 45px;
  margin-left: 25px;
  margin-top: 5px;

  svg {

    path,
    line {
      stroke: #efefef;
    }
  }
}

.previous,
.next {
  background-color: #2f2f2f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s linear;

  svg {

    path,
    line {
      stroke: #efefef;
    }
  }

  &:first-child {
    margin-bottom: 18px;
  }

  &:hover {
    background-color: #efefef;

    svg {

      path,
      line {
        stroke: #2f2f2f;
      }
    }
  }
}

.bandeau_relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
  right: -20px;
  top: 45%;
}





@media screen and (max-width: 1230px) {
  .section_bandeau {
    margin-bottom: 185px;


    .bandeau_col-g,
    .bandeau_col-d {
      .bandeau_white-container {
        width: 63%;
        position: relative;
        left: 18.5%;

        h1 {
          text-align: center;
        }
      }

      .bandeau_black-container {
        width: 63%;
        position: relative;
        left: 18.5%;

        h1 {
          text-align: center;
        }
      }
    }

    .bandeau_white-container-hover {
      width: 63%;
      position: relative;
      left: 18.5%;
    }

    .bandeau_black-container-hover {
      width: 63%;
      position: relative;
      left: 18.5%;
    }
  }

}




@media (max-width: 640px) {
  .section_bandeau {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

    .bandeau_col-g,
    .bandeau_col-d {
      max-width: 100%;
      height: 210px;

      .bandeau_img {
        width: 100%;
        height: 100%;
        background-size: cover !important;
      }

      .bandeau_white-container {
        width: 50%;
        height: 40%;
        left: 25%;
        top: -150px;
        box-shadow: none;

        h1 {
          font-size: 15px;
        }

      }


      .bandeau_black-container {
        width: 50%;
        height: 40%;
        left: 25%;
        top: -150px;

        h1 {
          font-size: 15px;
        }

      }

    }
  }
}