.section_centre {
  width: 100%;

  .centre_grey-container {
    width: 40%;
    height: 770px;
    background-color: #f6f6f6;
    z-index: 0;
    position: relative;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }


    .dispo_lien {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100vw;
      background-color: #f6f6f6;
      top: 0;
      left: -100vw;
    }

    .centre_white-container {
      padding-top: 35%;
      margin-left: 50%;
      width: 140%;
      z-index: 1;

      p {
        font-size: 45px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        padding: 0px;
        margin: 0px 0px 50px;
      }

      .dispo_lien {
        .icon-container {
          margin: 5px 0px 0px 25px;
        }

        p {
          font-size: 18px;
          font-weight: 700;
          padding-top: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .section_centre {
    .centre_grey-container {
      height: 570px;

      .centre_white-container {
        padding-top: 35%;
        width: 220%;
        margin-left: 0px;
        padding-left: $mobile-padding-center !important;

        p {
          font-size: 38px;
          letter-spacing: 0.3px;
          word-spacing: 0.5px;
        }
      }

    }
  }
}

@media screen and (max-width: 640px) {
  .section_centre {

    .centre_grey-container {
      height: 410px;
      width: 45%;

      .centre_white-container {
        padding-top: 35%;
        width: 220%;
        margin-left: 0px;
        padding-right: $mobile-padding-center/2 !important;
        padding-left: $mobile-padding-center/2 !important;


        p {
          font-size: 22px;
          letter-spacing: 0.3px;
          word-spacing: 0.5px;
          font-weight: 700;
        }

        .dispo_lien {
          .icon-container {
            margin: 4px 0px 0px 25px;
            width: 15px;
          }

          p {
            font-size: 15px;
            font-weight: 700;
            padding-top: 2px;
          }
        }

      }

    }
  }
}