/* INTRODUCTION_FRONT PAGE */
.section_introduction {
    width: 100%;
    display: flex;
    flex-direction: row;

    .introduction_col-g,
    .introduction_col-d {
        width: 50%;
    }
}

.introduction_black-container {
    margin: 90px 0px 65px 0px;
    display: flex;
    align-content: center;
    width: 80%;
    min-height: 0%;
    background-color: #000000;
    color: #FFFFFF;
    padding: 120px 0px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100vw;
        background-color: #000;
        top: 0;
        left: -100vw;
    }

    p {
        font-family: "proxima-nova";
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        line-height: 1.5;
        padding: 0px;



    }
}

.introduction_white-container {
    width: 80%;
    margin: 0 0 100px;

    h3 {
        font-family: "proxima-nova";
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        line-height: 1.1;
        margin-bottom: 30px;
    }

    p {
        font-family: "proxima-nova";
        font-size: 16px;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
        line-height: 2;
        font-weight: 0.6;
        padding: 0px;
    }

}

.introduction_col-img {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    flex-basis: 50%;
}

.introduction_img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
}