.section_bandeau {
    width: 100%;
    display: flex;
    flex-direction: row;

    h1,
    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }


    .col_g,
    .col_d {
        max-width: 50%;

        .image {
            width: 100%;
        }

        .container_parent {
            width: 100%;
            height: 100%;
        }


        .container_title_g {
            display: flex;
            align-items: center;
            width: 62.5%;
            height: 16vh;
            background-color: #FFFFFF;
            color: #000000;
            box-shadow: 1px 3px 5px 1px #e4dfdff1;
            position: relative;
            left: 29%;
            top: -8vh;
            padding: 50px;
        }

        .container_title_d {
            display: flex;
            align-items: center;
            width: 62.5%;
            height: 16vh;
            background-color: #000000;
            color: #FFFFFF;
            position: relative;
            left: 8.3%;
            top: -8vh;
            padding: 50px;
            margin-bottom: 19.8vh;
        }

        /* Pour animation Js */
        .container_title_g_hover {
            background-color: #FFFFFF;
            box-shadow: 1px 3px 5px 1px #e4dfdff1;
            color: #000000;
            width: 62.5%;
            min-height: 0%;
            position: relative;
            left: 29%;
            top: -18%;
            display: none;
            justify-content: center;
            flex-direction: column;
            padding: 50px;
        }

        .container_title_d_hover {
            background-color: #000000;
            color: #FFFFFF;
            width: 62.5%;
            min-height: 0%;
            position: relative;
            left: 8.3%;
            top: -18%;
            display: none;
            justify-content: center;
            flex-direction: column;
            padding: 50px;

            .bandeau_lien {
                display: flex;
                flex-direction: row;

                .icon-container {
                    margin-left: 25px;
                    // Mettre en blanc ! Nécessite de modifier le code svg
                }
            }
        }
    }
}

.dispo_lien {
    display: flex;
    flex-direction: row;

    .icon-container {
        margin-left: 25px;
    }
}