.container-caractere {
  padding-top: 8em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .container-diaporama {
    margin-bottom: 5.5em;
  }

  .content-caractere {
    max-width: 1100px;

    .split {
      display: flex;

      .col-4 {
        flex-basis: 40%;
        padding-right: 1em;
      }

      .col {
        p.no-padding {
          padding-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .container-caractere {
    max-width: 100%;
    padding-top: 0;

    .content-caractere {
      max-width: 640px;
      margin: 0 auto;

      .split {
        flex-wrap: wrap;
        .col-4,
        .col {
          flex-basis: 100%;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .container-caractere {
    &.center {
      padding-right: 0 !important;
      padding-left: 0 !important;

      .content-caractere {
        padding-right: $mobile-padding-center !important;
        padding-left: $mobile-padding-center !important;
      }
    }
  }
}
