.center {
  max-width: 1362px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.content {
  position: relative;
  display: block;

  .block-black {
    background-color: #000;
    height: 66.8vh;
    width: 100%;
    position: absolute;
  }
}

@import "./diaporama";
@import "./histoire";
@import "./caractere";
