footer {
  font-family: "proxima-nova", sans-serif;
  color: #000;
  overflow-y: hidden;
  background: #ffffff; }
  footer a {
    text-decoration: none; }
    footer a:visited {
      color: #000; }
  footer .copyright-line {
    float: right;
    text-align: right;
    width: 33%; }
    footer .copyright-line a {
      padding: 15px 5px;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      font-size: 11px;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
  footer .social-icons {
    width: 33%;
    float: right;
    margin-bottom: 15px; }
    footer .social-icons ul {
      float: right; }
    footer .social-icons ul li {
      display: inline-block; }
      footer .social-icons ul li a.icon-container {
        margin-left: 13px; }
        footer .social-icons ul li a.icon-container .icon {
          display: inline-block;
          width: 53px;
          height: 53px;
          text-align: center;
          background: rgba(255, 255, 255, 0.1);
          background-repeat: repeat;
          border-radius: 50%;
          border: 2px solid #d9d9d9; }
          footer .social-icons ul li a.icon-container .icon:hover {
            background: #000; }
            footer .social-icons ul li a.icon-container .icon:hover img {
              filter: invert(1); }
          footer .social-icons ul li a.icon-container .icon img {
            display: inline-block;
            margin-top: 14px; }
  footer .heures-container.tablet-on {
    display: none; }
  footer .bloc-coordonnees {
    width: 33%;
    float: left; }
    footer .bloc-coordonnees span {
      display: block;
      color: #000;
      padding-left: 9%;
      position: relative; }
      footer .bloc-coordonnees span .icon {
        width: 18px;
        position: absolute;
        display: inline-block;
        height: 100%;
        left: 0;
        top: 10px; }
    footer .bloc-coordonnees p,
    footer .bloc-coordonnees a {
      display: inline-block;
      font-size: 18px;
      color: #000;
      line-height: 2;
      font-weight: 400;
      font-family: "proxima-nova", sans-serif; }
  footer .bloc-googlemap {
    width: 33%;
    float: left; }
    footer .bloc-googlemap .titre-section {
      font-size: 32px;
      margin-bottom: 25px;
      letter-spacing: 1px; }
    footer .bloc-googlemap .googlemap {
      position: relative;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 1px;
      text-decoration: none;
      color: #000; }
      footer .bloc-googlemap .googlemap .icon {
        display: inline-block;
        width: 20px;
        height: 9px;
        position: absolute;
        top: 14px;
        right: -30px; }
  footer #footer-bottom .content {
    padding: 50px 0 40px; }
  footer #footer-top .content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 75px; }
  footer .cta-news {
    width: 68%;
    float: left; }
    footer .cta-news .image-container {
      width: 150px;
      height: 150px;
      float: left; }
      footer .cta-news .image-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    footer .cta-news .textes-container {
      height: 100%;
      background: #ffffff;
      padding: 35px 15% 0px 5%;
      float: right;
      width: calc(100% - 150px); }
  footer .heures-container.tablet-off {
    position: relative;
    width: 32%;
    float: right;
    background: #000;
    padding: 40px 0% 40px 5%; }
    footer .heures-container.tablet-off .icon {
      width: 17px;
      position: absolute;
      left: 6%; }
    footer .heures-container.tablet-off .titre-section {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    footer .heures-container.tablet-off li {
      margin-bottom: 7px; }
      footer .heures-container.tablet-off li p {
        font-weight: 400;
        line-height: 1.5;
        color: #fff; }

.banner {
  display: inline-block;
  width: 100%;
  clear: both;
  position: relative; }

.banner-content {
  max-width: 1500px;
  padding: 0 70px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.content {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block; }

.lien-texte-fleche {
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  padding-left: 0;
  display: inline-block;
  position: relative; }
  .lien-texte-fleche:hover {
    text-decoration: underline; }

@media screen and (min-width: 641px) and (max-width: 1230px) {
  footer .cta-news {
    width: 100%; }
  footer .bloc-googlemap {
    width: 100%; }
  footer .bloc-coordonnees {
    margin-top: 30px;
    width: 100%; }
  footer .heures-container.tablet-on {
    display: block;
    margin-top: 30px;
    position: relative;
    width: 100%;
    float: left;
    background: #000;
    padding: 40px 0% 40px 12%; }
    footer .heures-container.tablet-on .icon {
      width: 17px;
      position: absolute;
      left: 6%; }
    footer .heures-container.tablet-on .titre-section {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    footer .heures-container.tablet-on li {
      margin-bottom: 7px; }
      footer .heures-container.tablet-on li p {
        font-weight: 400;
        line-height: 1.5;
        color: #fff; }
  footer .heures-container.tablet-off {
    display: none; }
  footer .copyright-line {
    width: 50%;
    float: right;
    margin-top: 50px; }
  footer .social-icons {
    margin-top: 30px;
    width: 50%;
    float: left; }
    footer .social-icons ul {
      float: left; } }

@media screen and (max-width: 640px) {
  footer .cta-news {
    width: 100%; }
    footer .cta-news .image-container {
      display: none; }
    footer .cta-news .textes-container {
      height: 100%;
      background: #ffffff;
      padding: 35px 5% 0px 5%;
      float: right;
      width: 100%; }
  footer .bloc-googlemap {
    width: 100%; }
  footer .bloc-coordonnees {
    margin-top: 30px;
    width: 100%; }
  footer .heures-container.tablet-on {
    display: block;
    margin-top: 30px;
    position: relative;
    width: 100%;
    float: left;
    background: #000;
    padding: 40px 0% 40px 12%; }
    footer .heures-container.tablet-on .icon {
      width: 17px;
      position: absolute;
      left: 6%; }
    footer .heures-container.tablet-on .titre-section {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    footer .heures-container.tablet-on li {
      margin-bottom: 7px; }
      footer .heures-container.tablet-on li p {
        font-weight: 400;
        line-height: 1.5;
        color: #fff; }
  footer .heures-container.tablet-off {
    display: none; }
  footer .copyright-line {
    display: none; }
  footer .social-icons {
    width: 100%;
    margin-top: 30px !important; }
    footer .social-icons ul {
      text-align: center;
      float: none; } }
