html {
  margin-top: 0 !important; }

/**
 * Limit the container in
 * width for big screens
 */
.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  transition: padding-top 0.2s, padding-bottom 0.4s;
  transition-delay: 0.2s, 0s; }

.clear-bar-nav {
  margin-top: 115.6px; }

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in 
 * small screens
 */
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 5; }
  .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap; }
    .main-header .container .menu {
      display: none; }
    .main-header .container .telephone {
      display: none; }
    .main-header .container.black-style {
      background-color: #111111; }
      .main-header .container.black-style .mh-logo img {
        filter: invert(1);
        transition: 0.4s; }

/**
 * Menu for tablet and mobile by default hidden
 */
/**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */
.main-nav.white-style {
  background-color: #ffffff; }
  .main-nav.white-style ul {
    margin: 1em 0 0.5em;
    text-align: center; }
    .main-nav.white-style ul li {
      display: inline;
      padding-top: 10px;
      padding-bottom: 10px; }
    .main-nav.white-style ul .menu-item > a {
      display: inline-block;
      padding: 0.4em 1em;
      text-decoration: none;
      color: #111111;
      font-family: "proxima-nova", sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
      .main-nav.white-style ul .menu-item > a::after {
        content: "";
        display: block;
        width: 0;
        margin-top: 13px;
        height: 4px;
        background: #ffffff;
        transition: width 0.2s, background 0.2s; }
      .main-nav.white-style ul .menu-item > a:hover::after {
        width: 100%;
        background: #111111; }
    .main-nav.white-style ul .active.menu-item > a {
      display: inline-block;
      padding: 0.4em 1em;
      text-decoration: none;
      color: #111111; }
      .main-nav.white-style ul .active.menu-item > a::after {
        content: "";
        display: block;
        width: 100%;
        margin-top: 13px;
        height: 4px;
        background: #000; }
    .main-nav.white-style ul .telephone a {
      color: #ffffff;
      background-color: #111111;
      display: inline-block;
      padding: 0.7em;
      text-decoration: none;
      border-radius: 50%; }
      .main-nav.white-style ul .telephone a img {
        filter: invert(1); }
    .main-nav.white-style ul .menu a {
      color: #111111;
      background-color: #ffffff;
      display: inline-block;
      padding: 1em 1em;
      text-decoration: none;
      font-family: "proxima-nova", sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.6px; }
      .main-nav.white-style ul .menu a img {
        margin-left: 30px;
        vertical-align: middle;
        filter: invert(0); }
    .main-nav.white-style ul .wish-list a {
      color: #ffffff;
      background-color: #111111;
      display: inline-block;
      padding: 1em 1em;
      text-decoration: none;
      font-family: "proxima-nova", sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.6px; }
      .main-nav.white-style ul .wish-list a img {
        margin-left: 4px;
        vertical-align: middle;
        filter: invert(1); }
      .main-nav.white-style ul .wish-list a:hover {
        color: #111111;
        background-color: #ffffff;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2); }
        .main-nav.white-style ul .wish-list a:hover img {
          margin-left: 4px;
          vertical-align: middle;
          filter: invert(0); }

.main-nav.black-style {
  background-color: #111111; }
  .main-nav.black-style ul {
    margin: 1em 0 0.5em;
    text-align: center; }
    .main-nav.black-style ul li {
      display: inline;
      padding-top: 10px;
      padding-bottom: 10px; }
    .main-nav.black-style ul .menu-item > a {
      display: inline-block;
      padding: 0.4em 1em;
      text-decoration: none;
      color: #ffffff;
      font-family: "proxima-nova", sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
      .main-nav.black-style ul .menu-item > a::after {
        content: "";
        display: block;
        width: 0;
        margin-top: 13px;
        height: 4px;
        background: #111111;
        transition: width 0.2s, background 0.2s; }
      .main-nav.black-style ul .menu-item > a:hover::after {
        width: 100%;
        background: #ffffff; }
    .main-nav.black-style ul .active.menu-item > a {
      display: inline-block;
      padding: 0.4em 1em;
      text-decoration: none;
      color: #ffffff; }
      .main-nav.black-style ul .active.menu-item > a::after {
        content: "";
        display: block;
        width: 100%;
        margin-top: 13px;
        height: 4px;
        background: #ffffff; }
    .main-nav.black-style ul .telephone a {
      color: #111111;
      background-color: #ffffff;
      display: inline-block;
      padding: 0.7em;
      text-decoration: none;
      border-radius: 50%; }
      .main-nav.black-style ul .telephone a img {
        filter: invert(0); }
    .main-nav.black-style ul .menu a {
      color: #ffffff;
      background-color: #111111;
      display: inline-block;
      padding: 1em 1em;
      text-decoration: none;
      font-family: "proxima-nova", sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.6px; }
      .main-nav.black-style ul .menu a img {
        margin-left: 30px;
        vertical-align: middle;
        filter: invert(1); }
    .main-nav.black-style ul .wish-list a {
      color: #111111;
      background-color: #ffffff;
      display: inline-block;
      padding: 1em 1em;
      border: 1px solid #ffffff;
      text-decoration: none;
      font-family: "proxima-nova", sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.6px; }
      .main-nav.black-style ul .wish-list a img {
        margin-left: 4px;
        vertical-align: middle;
        filter: invert(0); }
      .main-nav.black-style ul .wish-list a:hover {
        color: #ffffff;
        background-color: #111111;
        border: 1px solid gray; }
        .main-nav.black-style ul .wish-list a:hover img {
          margin-left: 4px;
          vertical-align: middle;
          filter: invert(1); }

.black-style img {
  filter: invert(1); }

#menu-mobile {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 350px;
  background-color: #111111;
  padding-left: 20px;
  padding-right: 20px; }
  #menu-mobile ul > li {
    display: block;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #424242; }
    #menu-mobile ul > li a {
      background-color: #111111;
      color: #ffffff; }
    #menu-mobile ul > li img {
      margin-left: 0;
      filter: invert(1); }
    #menu-mobile ul > li a:hover {
      text-decoration: underline; }
    #menu-mobile ul > li .arrow-menu-mobile {
      float: right;
      padding-top: 10px;
      padding-right: 20px; }
    #menu-mobile ul > li .close-menu-mobile {
      float: right;
      padding-top: 16px;
      padding-right: 22px; }
      #menu-mobile ul > li .close-menu-mobile:hover {
        cursor: pointer; }
    #menu-mobile ul > li:last-child {
      border-bottom: 0px; }
      #menu-mobile ul > li:last-child a {
        background-color: #ffffff;
        color: #111111;
        display: inline-block;
        text-transform: none;
        padding: 1em 1em;
        border: 1px solid #ffffff;
        text-decoration: none;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px; }
        #menu-mobile ul > li:last-child a img {
          margin-left: 10px;
          vertical-align: middle;
          filter: invert(0); }
        #menu-mobile ul > li:last-child a:hover {
          color: #ffffff;
          background-color: #111111;
          border: 1px solid gray; }
          #menu-mobile ul > li:last-child a:hover img {
            filter: invert(1); }

/* 
  ##Device = Tablets, Ipads (landscape)
  
*/
@media screen and (min-width: 641px) and (max-width: 1230px) {
  .main-nav.white-style ul .menu-item {
    display: none; }
  .main-nav.white-style ul .menu {
    display: inline-block; }
  .main-nav.black-style ul .menu-item {
    display: none; }
  .main-nav.black-style ul .menu {
    display: inline-block; }
  .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s; } }

.hidden {
  display: none; }

@media screen and (max-width: 640px) {
  .main-nav.white-style ul .menu-item {
    display: none; }
  .main-nav.white-style ul .menu {
    display: inline-block; }
    .main-nav.white-style ul .menu a img {
      margin-left: 5px;
      transition: 0.4s; }
  .main-nav.black-style ul .menu-item {
    display: none; }
  .main-nav.black-style ul .menu {
    display: inline-block; }
  .main-nav.black-style ul .wish-list {
    display: none; }
  .main-nav.white-style ul .wish-list {
    display: none; }
  .main-nav.black-style ul .telephone {
    display: inline-block; }
  .main-nav.white-style ul .telephone {
    display: inline-block; }
  .menu-label {
    display: none !important; }
  .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s; } }
