/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***
* Box Sizing
*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background-color: #ffffff; }

/** 
 * Images a now responsive
 */
img {
  max-width: 100%;
  height: auto; }

/**
 * Limit the container in
 * width for big screens
 */
.clear-bar-nav {
  margin-top: 115.6px; }

header {
  /**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in 
 * small screens
 */
  /**
 * Menu for tablet and mobile by default hidden
 */
  /**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */ }
  header .container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    transition: padding 0.4s; }
  header.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5; }
    header.main-header .container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      background-color: #ffffff; }
      header.main-header .container .menu {
        display: none; }
      header.main-header .container .telephone {
        display: none; }
      header.main-header .container.black-style {
        background-color: #111111; }
        header.main-header .container.black-style .mh-logo img {
          filter: invert(1);
          transition: 0.4s; }
  header .main-nav.white-style {
    background-color: #ffffff; }
    header .main-nav.white-style ul {
      margin: 1em 0 0.5em;
      text-align: center; }
      header .main-nav.white-style ul li {
        display: inline;
        padding-top: 10px;
        padding-bottom: 10px; }
      header .main-nav.white-style ul .menu-item > a {
        display: inline-block;
        padding: 0.4em 1em;
        text-decoration: none;
        color: #111111;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.6px; }
        header .main-nav.white-style ul .menu-item > a::after {
          content: "";
          display: block;
          width: 0;
          margin-top: 13px;
          height: 4px;
          background: #ffffff;
          transition: width 0.2s, background 0.2s; }
        header .main-nav.white-style ul .menu-item > a:hover::after {
          width: 100%;
          background: #111111; }
      header .main-nav.white-style ul .active.menu-item > a {
        display: inline-block;
        padding: 0.4em 1em;
        text-decoration: none;
        color: #111111; }
        header .main-nav.white-style ul .active.menu-item > a::after {
          content: "";
          display: block;
          width: 100%;
          margin-top: 13px;
          height: 4px;
          background: #000; }
      header .main-nav.white-style ul .telephone a {
        color: #ffffff;
        background-color: #111111;
        display: inline-block;
        padding: 0.7em;
        text-decoration: none;
        border-radius: 50%; }
        header .main-nav.white-style ul .telephone a img {
          filter: invert(1); }
      header .main-nav.white-style ul .menu a {
        color: #111111;
        background-color: #ffffff;
        display: inline-block;
        padding: 1em 1em;
        text-decoration: none;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px; }
        header .main-nav.white-style ul .menu a img {
          margin-left: 30px;
          vertical-align: middle;
          filter: invert(0); }
      header .main-nav.white-style ul .wish-list a {
        color: #ffffff;
        background-color: #111111;
        display: inline-block;
        padding: 1em 1em;
        text-decoration: none;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px; }
        header .main-nav.white-style ul .wish-list a img {
          margin-left: 4px;
          vertical-align: middle;
          filter: invert(1); }
        header .main-nav.white-style ul .wish-list a:hover {
          color: #111111;
          background-color: #ffffff;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2); }
          header .main-nav.white-style ul .wish-list a:hover img {
            margin-left: 4px;
            vertical-align: middle;
            filter: invert(0); }
  header .main-nav.black-style {
    background-color: #111111; }
    header .main-nav.black-style ul {
      margin: 1em 0 0.5em;
      text-align: center; }
      header .main-nav.black-style ul li {
        display: inline;
        padding-top: 10px;
        padding-bottom: 10px; }
      header .main-nav.black-style ul .menu-item > a {
        display: inline-block;
        padding: 0.4em 1em;
        text-decoration: none;
        color: #ffffff;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.6px; }
        header .main-nav.black-style ul .menu-item > a::after {
          content: "";
          display: block;
          width: 0;
          margin-top: 13px;
          height: 4px;
          background: #111111;
          transition: width 0.2s, background 0.2s; }
        header .main-nav.black-style ul .menu-item > a:hover::after {
          width: 100%;
          background: #ffffff; }
      header .main-nav.black-style ul .active.menu-item > a {
        display: inline-block;
        padding: 0.4em 1em;
        text-decoration: none;
        color: #ffffff; }
        header .main-nav.black-style ul .active.menu-item > a::after {
          content: "";
          display: block;
          width: 100%;
          margin-top: 13px;
          height: 4px;
          background: #ffffff; }
      header .main-nav.black-style ul .telephone a {
        color: #111111;
        background-color: #ffffff;
        display: inline-block;
        padding: 0.7em;
        text-decoration: none;
        border-radius: 50%; }
        header .main-nav.black-style ul .telephone a img {
          filter: invert(0); }
      header .main-nav.black-style ul .menu a {
        color: #ffffff;
        background-color: #111111;
        display: inline-block;
        padding: 1em 1em;
        text-decoration: none;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px; }
        header .main-nav.black-style ul .menu a img {
          margin-left: 30px;
          vertical-align: middle;
          filter: invert(1); }
      header .main-nav.black-style ul .wish-list a {
        color: #111111;
        background-color: #ffffff;
        display: inline-block;
        padding: 1em 1em;
        border: 1px solid #ffffff;
        text-decoration: none;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px; }
        header .main-nav.black-style ul .wish-list a img {
          margin-left: 4px;
          vertical-align: middle;
          filter: invert(0); }
        header .main-nav.black-style ul .wish-list a:hover {
          color: #ffffff;
          background-color: #111111;
          border: 1px solid gray; }
          header .main-nav.black-style ul .wish-list a:hover img {
            margin-left: 4px;
            vertical-align: middle;
            filter: invert(1); }
  header .black-style img {
    filter: invert(1); }
  header #menu-mobile {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 350px;
    background-color: #111111;
    padding-left: 20px;
    padding-right: 20px; }
    header #menu-mobile ul > li {
      display: block;
      text-align: left;
      text-transform: uppercase;
      border-bottom: 1px solid #424242; }
      header #menu-mobile ul > li a {
        background-color: #111111;
        color: #ffffff; }
      header #menu-mobile ul > li img {
        margin-left: 0;
        filter: invert(1); }
      header #menu-mobile ul > li a:hover {
        text-decoration: underline; }
      header #menu-mobile ul > li .arrow-menu-mobile {
        float: right;
        padding-top: 10px;
        padding-right: 20px; }
      header #menu-mobile ul > li .close-menu-mobile {
        float: right;
        padding-top: 16px;
        padding-right: 22px; }
        header #menu-mobile ul > li .close-menu-mobile:hover {
          cursor: pointer; }
      header #menu-mobile ul > li:last-child {
        border-bottom: 0px; }
        header #menu-mobile ul > li:last-child a {
          background-color: #ffffff;
          color: #111111;
          display: inline-block;
          text-transform: none;
          padding: 1em 1em;
          border: 1px solid #ffffff;
          text-decoration: none;
          font-family: "proxima-nova", sans-serif;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.6px; }
          header #menu-mobile ul > li:last-child a img {
            margin-left: 10px;
            vertical-align: middle;
            filter: invert(0); }
          header #menu-mobile ul > li:last-child a:hover {
            color: #ffffff;
            background-color: #111111;
            border: 1px solid gray; }
            header #menu-mobile ul > li:last-child a:hover img {
              filter: invert(1); }

/* 
  ##Device = Tablets, Ipads (landscape)
  
*/
@media screen and (min-width: 641px) and (max-width: 1230px) {
  header .main-nav.white-style ul .menu-item {
    display: none; }
  header .main-nav.white-style ul .menu {
    display: inline-block; }
  header .main-nav.black-style ul .menu-item {
    display: none; }
  header .main-nav.black-style ul .menu {
    display: inline-block; }
  header .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s; }
  header .hidden {
    display: none; } }

@media screen and (max-width: 640px) {
  header .main-nav.white-style ul .menu-item {
    display: none; }
  header .main-nav.white-style ul .menu {
    display: inline-block; }
    header .main-nav.white-style ul .menu a img {
      margin-left: 5px; }
  header .main-nav.black-style ul .menu-item {
    display: none; }
  header .main-nav.black-style ul .menu {
    display: inline-block; }
  header .main-nav.black-style ul .wish-list {
    display: none; }
  header .main-nav.white-style ul .wish-list {
    display: none; }
  header .main-nav.black-style ul .telephone {
    display: inline-block; }
  header .main-nav.white-style ul .telephone {
    display: inline-block; }
  header .menu-label {
    display: none !important; }
  header .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s; } }

footer {
  font-family: "proxima-nova", sans-serif;
  color: #000;
  overflow-y: hidden;
  background: #ffffff; }
  footer a {
    text-decoration: none; }
    footer a:visited {
      color: #000; }
  footer .copyright-line {
    float: right;
    text-align: right;
    width: 33%; }
    footer .copyright-line a {
      padding: 15px 5px;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      font-size: 11px;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
      footer .copyright-line a:hover {
        text-decoration: underline; }
  footer .social-icons {
    width: 33%;
    float: right;
    margin-bottom: 15px; }
    footer .social-icons ul {
      float: right; }
    footer .social-icons ul li {
      display: inline-block; }
      footer .social-icons ul li a.icon-container {
        margin-left: 13px; }
        footer .social-icons ul li a.icon-container .icon {
          display: inline-block;
          width: 53px;
          height: 53px;
          text-align: center;
          background: rgba(255, 255, 255, 0.1);
          background-repeat: repeat;
          border-radius: 50%;
          border: 2px solid #d9d9d9; }
          footer .social-icons ul li a.icon-container .icon:hover {
            background: #000; }
            footer .social-icons ul li a.icon-container .icon:hover img {
              filter: invert(1); }
          footer .social-icons ul li a.icon-container .icon img {
            display: inline-block;
            margin-top: 14px; }
  footer .heures-container.tablet-on {
    display: none; }
  footer .bloc-coordonnees {
    width: 33%;
    float: left; }
    footer .bloc-coordonnees span {
      display: block;
      color: #000;
      padding-left: 9%;
      position: relative; }
      footer .bloc-coordonnees span .icon {
        width: 18px;
        position: absolute;
        display: inline-block;
        height: 100%;
        left: 0;
        top: 10px; }
    footer .bloc-coordonnees p,
    footer .bloc-coordonnees a {
      display: inline-block;
      font-size: 18px;
      color: #000;
      line-height: 2;
      font-weight: 400;
      font-family: "proxima-nova", sans-serif; }
    footer .bloc-coordonnees a:hover {
      text-decoration: underline; }
  footer .bloc-googlemap {
    width: 33%;
    float: left; }
    footer .bloc-googlemap .titre-section {
      font-size: 32px;
      margin-bottom: 25px;
      letter-spacing: 1px; }
    footer .bloc-googlemap .googlemap {
      position: relative;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 1px;
      text-decoration: none;
      color: #000; }
      footer .bloc-googlemap .googlemap .icon {
        display: inline-block;
        width: 20px;
        height: 9px;
        position: absolute;
        top: 14px;
        right: -30px; }
  footer #footer-bottom .content {
    padding: 50px 0 40px; }
  footer #footer-top .content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 75px; }
  footer .cta-news {
    width: 68%;
    float: left; }
    footer .cta-news .image-container {
      width: 150px;
      height: 150px;
      float: left; }
      footer .cta-news .image-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    footer .cta-news .textes-container {
      height: 100%;
      background: #ffffff;
      padding: 35px 15% 0px 5%;
      float: right;
      width: calc(100% - 150px); }
  footer .heures-container.tablet-off {
    position: relative;
    width: 32%;
    float: right;
    background: #000;
    padding: 40px 0% 40px 5%; }
    footer .heures-container.tablet-off .icon {
      width: 17px;
      position: absolute;
      left: 6%; }
    footer .heures-container.tablet-off .titre-section {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    footer .heures-container.tablet-off li {
      margin-bottom: 7px; }
      footer .heures-container.tablet-off li p {
        font-weight: 400;
        line-height: 1.5;
        color: #fff; }
  footer .banner {
    display: inline-block;
    width: 100%;
    clear: both;
    position: relative; }
  footer .banner-content {
    max-width: 1500px;
    padding: 0 70px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
  footer .content {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block; }
  footer .lien-texte-fleche {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding: 15px;
    padding-left: 0;
    display: inline-block;
    position: relative; }
    footer .lien-texte-fleche:hover {
      text-decoration: underline; }

@media screen and (min-width: 641px) and (max-width: 1230px) {
  footer .cta-news {
    width: 100%; }
  footer .bloc-googlemap {
    width: 100%; }
  footer .bloc-coordonnees {
    margin-top: 30px;
    width: 100%; }
  footer .heures-container.tablet-on {
    display: block;
    margin-top: 30px;
    position: relative;
    width: 100%;
    float: left;
    background: #000;
    padding: 40px 0% 40px 12%; }
    footer .heures-container.tablet-on .icon {
      width: 17px;
      position: absolute;
      left: 6%; }
    footer .heures-container.tablet-on .titre-section {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    footer .heures-container.tablet-on li {
      margin-bottom: 7px; }
      footer .heures-container.tablet-on li p {
        font-weight: 400;
        line-height: 1.5;
        color: #fff; }
  footer .heures-container.tablet-off {
    display: none; }
  footer .copyright-line {
    width: 50%;
    float: right;
    margin-top: 50px; }
  footer .social-icons {
    margin-top: 30px;
    width: 50%;
    float: left; }
    footer .social-icons ul {
      float: left; } }

@media screen and (max-width: 640px) {
  footer .cta-news {
    width: 100%; }
    footer .cta-news .image-container {
      display: none; }
    footer .cta-news .textes-container {
      height: 100%;
      background: #ffffff;
      padding: 35px 5% 0px 5%;
      float: right;
      width: 100%; }
  footer .bloc-googlemap {
    width: 100%; }
  footer .bloc-coordonnees {
    margin-top: 30px;
    width: 100%; }
  footer .heures-container.tablet-on {
    display: block;
    margin-top: 30px;
    position: relative;
    width: 100%;
    float: left;
    background: #000;
    padding: 40px 0% 40px 12%; }
    footer .heures-container.tablet-on .icon {
      width: 17px;
      position: absolute;
      left: 6%; }
    footer .heures-container.tablet-on .titre-section {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    footer .heures-container.tablet-on li {
      margin-bottom: 7px; }
      footer .heures-container.tablet-on li p {
        font-weight: 400;
        line-height: 1.5;
        color: #fff; }
  footer .heures-container.tablet-off {
    display: none; }
  footer .copyright-line {
    display: none; }
  footer .social-icons {
    width: 100%;
    margin-top: 30px !important; }
    footer .social-icons ul {
      text-align: center;
      float: none; } }
