/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***
* Box Sizing
*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/***
* ProximaNova
**/
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: bolder;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Extrabold.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Light.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-LightItalic.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Regular.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-RegularItalic.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNova-SemiboldItalic.otf) format("truetype"); }

/***
* ProximaNovaCond
**/
@font-face {
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-Semibold.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-SemiboldIt.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-Regular.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-RegularIt.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-Light.otf) format("truetype"); }

@font-face {
  font-family: "ProximaNovaCond";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/ProximaNova/ProximaNovaCond-LightIt.otf) format("truetype"); }

html,
body {
  width: 100%;
  height: 100%;
  font-family: "ProximaNova";
  font-size: 1em; }

body {
  background-color: #fff; }

.center {
  max-width: 1362px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  position: relative; }

.content {
  position: relative;
  display: block; }
  .content .block-black {
    background-color: #000;
    height: 66.8vh;
    width: 100%;
    position: absolute; }

.container-diaporama {
  display: block; }
  .container-diaporama h1 {
    padding: 5em 0;
    color: #fff;
    font-weight: 400;
    font-size: 2.1rem;
    position: relative; }
    .container-diaporama h1::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #707070;
      top: 50%;
      display: block;
      left: -102%; }
  .container-diaporama .content-diaporama .posts {
    max-width: 1100px;
    max-height: 705px; }
    .container-diaporama .content-diaporama .posts .post {
      width: 100%;
      height: 100%;
      position: relative; }
      .container-diaporama .content-diaporama .posts .post img {
        width: 100%;
        height: 100%; }
      .container-diaporama .content-diaporama .posts .post .info-project {
        position: absolute;
        background-color: #fff;
        bottom: 0;
        right: 0;
        padding: 20px 35px;
        display: flex;
        flex-wrap: nowrap; }
        .container-diaporama .content-diaporama .posts .post .info-project .info-content {
          display: flex;
          height: 35px; }
          .container-diaporama .content-diaporama .posts .post .info-project .info-content .title {
            border-right: 1px solid #000;
            padding-right: 30px; }
          .container-diaporama .content-diaporama .posts .post .info-project .info-content .link {
            padding-left: 30px; }
          .container-diaporama .content-diaporama .posts .post .info-project .info-content .title,
          .container-diaporama .content-diaporama .posts .post .info-project .info-content .link {
            display: flex;
            align-items: center; }
