
.container-diaporama.bloglist {
    margin-bottom: 0;
}

.container-bloglist {
    display: flex;
    flex-wrap: wrap;

    .post {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 114px;

        img {
            width: 100%;
         }
    
         .attachment-670x500 {
             width: 670px;
             height: 500px;
         }
    
    }



}

